.metadata
*.d
SonicScrewdriver/Patterns/Patterns.bmx.backup
SonicScrewdriver/Debug/
SonicScrewdriver/Release/
Tuesday/Debug/
Tuesday/Release/
Tuesday/Generated_Code/
Tuesday/Documentation/
SonicScrewdriver/Generated_Code/
SonicScrewdriver/Documentation/
Goldfish/Generated_Code/
Goldfish/Debug/
Goldfish/Release/
Goldfish/Documentation/

SonicScrewdriver/Debug/SonicScrewdriver.map
SonicScrewdriver/Debug/Generated_Code/subdir.mk
SonicScrewdriver/Debug/Project_Settings/Startup_Code/startup.o
SonicScrewdriver/Debug/Generated_Code/subdir.mk
SonicScrewdriver/Debug/Generated_Code/subdir.mk
SonicScrewdriver/Debug/Sources/subdir.mk
SonicScrewdriver/Debug/makefile